* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    padding: 20px 80px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.nav-links {
    list-style: none;
    row-gap: 50px;
}
.nav-links li {
    display: inline;
    margin: 0 15px;
    color: white;
    font-size: 18px;    
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
